:root {
  --primary-color: #0045a8;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
  --container-width: 1200px;
}

$border-info: 1px solid #ccc;

.border-box {
  border: $border-info;
}

.m-1200-auto {
  width: var(--container-width);
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

.over-nobreak {
  overflow: hidden; /*内容超出后隐藏*/
  text-overflow: ellipsis; /*超出内容显示为省略号*/
  white-space: nowrap; /*文本不进行换行*/
}

$max-rows: 5;
@for $i from 1 through $max-rows {
  .over-nobreak-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
  }
}
